body {
  font-family: Tahoma, sans-serif;
  background: repeating-linear-gradient(to bottom, #cceeff, #cceeff 20px, #ffffff 20px, #ffffff 40px);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

#gameArea {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-color: #f0f0f0;
}

#cat {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 40px;
  left: 100px;
  background-image: url('cat-walk.png');
  background-size: 150px 50px;
  animation: walk 0.5s steps(3) infinite;
}

@keyframes walk {
  0% { background-position: 0 0; }
  100% { background-position: -150px 0; }
}

.obstacle {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 40px;
}

.cactus {
  background-color: green;
}

.rock {
  background-color: gray;
}

#flash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.8;
  display: none;
}

.preview {
  width: 50px;
  height: 50px;
  background-size: cover;
}
