body {
  margin: 0;
  padding: 0;
  font-family: Tahoma;
  background-color: #cceeff;
  overflow: hidden;
}

#gameArea {
  position: relative;
  width: 100%;
  height: 300px;
  background: url('background.png') repeat-x;
  background-size: cover;
}

#cat {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 40px;
  left: 100px;
  background: url('cat-walk.png');
  background-size: 150px 50px;
  animation: walk 0.5s steps(3) infinite;
}

@keyframes walk {
  0% { background-position: 0 0; }
  100% { background-position: -150px 0; }
}

.obstacle {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 40px;
  background-color: green;
}

#info {
  padding: 10px;
  background: white;
  text-align: center;
}

#gameover {
  text-align: center;
  padding: 20px;
  background: white;
}
